@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --primary-red: #ff0000;
  --dark-red: #8b0000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-lexend);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #000000;
    /* Force dark mode even in light preference */
    --foreground: #ffffff;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lexend), sans-serif;
  overflow-x: hidden;
}